.container {
  width: 97%;
  min-height: 46rem;
  justify-self: center;
  margin: auto;
  margin-top: 1rem;
  padding: 2rem;
  background-color: white;
  padding: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main {
  width: '95%';
  height: '50rem';
  background: 'white';
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}
